<html>
<head>
	<title>Git merging demo - by Lo</title>
</head>
<body>
	<h1>Git Merging for Beginners</h1>
	<div>
		Git Merging with lots of text for testing
		purporses for this demo. Adding random 
		words to make a merge conflict when merging
		the content of a feature branch into the develop
		branch.
	</div>
</body>
</html>